.SheduleWrapper {
  margin: 20px 50px;
}

.slider__header {
  display: flex;
  justify-content: space-between;
  max-width: 920px;
}

.simple-slider__slider-outer {
  display:block;
  position:relative;
  overflow:hidden;
  width:920px;
  height:650px;
}

.simple-slider__slider-inner {
  display:block;
  position:absolute;
  transition: all 0.5s;
}