.TaskInputForm {
  margin: 0px 30px;
  display: flex;
  flex-direction: column;
}

.task_form {
  display: flex;
  justify-content: space-between;
  max-width: 484px;
}

.close-button {
  margin: 10px 0px 0px 0px;
  align-self: flex-end;
}

.submit-button {
  max-width: 50px;
}