.Router {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  margin: 20px;
  padding: 10px 20px 10px 10px;
  width: 290px;
  display: flex;
  align-items: center;
}

.card-title {
  margin-left: 20px;
}

.media {
  height: 100px;
  width: 100px;
}