.spoiler >  input + .box {
  display: none;
}
.spoiler >  input:checked + .box {
  display: block;
}

.spoiler {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.box {
  width: 300px;
}

.TasksList {
  margin: 40px 20px 20px 20px;
  display: flex;
  flex-wrap: wrap;
}

.card-header {
  margin-right: 10px;
}

.task-card {
  margin: 10px;
  padding: 10px;
  width: 200px;
}